.container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  z-index: 1;
}
.child {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0.5em;
  border: 2px solid;
  border-radius: 5px;
  /* font-size: 2em; */
  align-items: center;
}

span.descrip {
  font-size: 2em;
}

button.again {
  width: 70%;
  height: 2em;
  font-size: 1em;
  cursor: pointer;
  background-color: #004e98;
  border: 1px solid #004e98;
  color: white;
  border-radius: 3px;
}
